<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to my blog!</title>
</head>
<body>
    <h1>This is my blogs</h1>
    <p><a href="/about">About</a></p>

    <div>
    {% for post in posts %}
        <article>
            <h1>{{ post.title }}</h1>
            <p>Published: {{ post.published_date }}</p>
            <p>{{ post.text | linebreaksbr }}</p>
        </article>
    {% endfor %}
    </div>

</body>
</html>
